

body{
    background-color: aliceblue;
    
}
h1{
    margin-top: 50px;
    text-align: center;
}
.class1{
    margin-top: 50px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    width: 65%;
    min-width: 50%;
    
}
#container{
    display: grid;
    row-gap:10% ;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    /* padding: 100px; */
   /* width: 80%; */
   place-items: center;
   
}
.class1:hover{
    background-color: antiquewhite;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}
.class1 img{
    height: 200px;
    /* object-fit: cover; */
    object-position: center;
    width: 100%;
    aspect-ratio: 2/3;
   
}

.class1 h3{
    margin-top: 30px;
    text-align: center;
}
a{
   
    text-decoration: none;
    color: black;
}
.class1 h3:hover
{
    color: blue;
}

@media (min-width:900px) and (max-width:1250px)
{
    #container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .class1{
        width: 80%;
    }
}
@media (min-width:650px) and (max-width:900px)
{
    #container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        padding: 20px;
        gap: 1em;
    }
    .class1{
        width: 85%;
    }
}
@media (max-width:650px)
{
    #container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        padding: 0 40px;
        gap: 20px;


    }
     .class1{
        width: 85%;
    }
    
}

.foot {
    margin-top: 10vh;
    display: grid;
    height: 70vh;
    background-color: rgb(4, 49, 28);
    color: whitesmoke;
    place-items: center;

}

.foot img {
    height:60px;
/* background-color:  rgb(255, 254, 254);  */
mix-blend-mode: hard-light;
/* border-radius: 35% 35% 5% 5%; */
   object-fit: contain;
} 

.foot a {
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}

.foot a:hover {
    font-weight: bolder;
    color: rgba(171, 215, 39, 0.737);
}

.foot ul {
    list-style-type: none;
}

.quickInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    /* padding: 1em; */
    padding: 0 18vh;
}

#insocour {
    display: flex;
    margin-bottom: 2em;
}

#insocour h3 {
    align-self: center;
    padding: .5em;
}

.foot .box h3 {
    margin-bottom: 2em;
}

.foot .box {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.foot .box li {
    padding-bottom: 1em;
}

.foot .box button {
    padding: 1em;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 10px 20px;
    outline: none;
    width: 50%;
}

.foot .box button:hover {
    transform: scale(1.02);
    font-weight: bold;
}

.addr {
    display: flex;
    margin-bottom: 2em;
}

.addr>p {
    align-self: center;
}

.tele {
    display: flex;
    margin-bottom: 2em;
}

.tele>p {
    align-self: center;
}

.mail {
    display: flex;
    margin-bottom: 2em;
}

.mail>p {
    align-self: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-self: end;
    border-top: 1px solid rgba(0, 128, 0, 0.644);
    width: 100%;
    padding: 1em;
}

.right i {
    cursor: pointer;
}

@media(width<900px) {
    .foot {
        height: 100%;
        place-items: center;
        padding-top: 2em;

    }

    .quickInfo {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        padding: 0 8vh;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: auto;
    }
}

@media(width<600px) {
    .foot {
        height: 100%;
        padding: 0;

    }

    .quickInfo {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;

    }

    .quickInfo .box {
        margin-bottom: 1em;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
}